<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pokemon-list</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-item>
      <ion-input
        [(ngModel)]="searchTerm"
        placeholder="Introduce el nombre o ID del Pokémon"
      ></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="searchPokemon()">Buscar</ion-button>
  </ion-card>

  <div *ngIf="errorMessage" class="ion-text-center">
    <p>{{ errorMessage }}</p>
  </div>

  <ion-card *ngIf="pokemonDetails">
    <ion-card-header>
      <ion-card-title>{{ pokemonDetails.name | titlecase }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img
        [src]="pokemonDetails.sprites.front_default"
        alt="Imagen de {{ pokemonDetails.name }}"
      />
      <p><strong>Altura:</strong> {{ pokemonDetails.height }}</p>
      <p><strong>Peso:</strong> {{ pokemonDetails.weight }}</p>
      <p><strong>Habilidades:</strong></p>
      <ul>
        <li *ngFor="let ability of pokemonDetails.abilities">
          {{ ability.ability.name }}
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
