<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pokemon-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-input
        [(ngModel)]="searchTerm"
        placeholder="Introduce el nombre o ID del Pokémon"
      ></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="searchPokemon()">Buscar</ion-button>
  </ion-card>

  <div *ngIf="errorMessage" class="ion-text-center">
    <p>{{ errorMessage }}</p>
  </div>

  <ion-card
    class = "flex flex-col items-center w-full ion-padding"
    *ngIf="pokemonDetails"
    >
    <ion-card-header>
      <ion-card-title>{{ pokemonDetails.name | titlecase }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img
        [src]="pokemonDetails.sprites.front_default"
        alt="Imagen de {{ pokemonDetails.name }}"
        width="200"
        height="200"
      />
      <p><strong>Altura:</strong> {{ pokemonDetails.height }}</p>
      <p><strong>Peso:</strong> {{ pokemonDetails.weight }}</p>
      <p><strong>Habilidades:</strong></p>
      <ul>
        <li *ngFor="let ability of pokemonDetails.abilities">
          {{ ability.ability.name }}
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-list
    *ngIf="listPokemon.length > 0"
    class="ion-padding"
  >
    <ion-item
      class = "cursor-pointer bg-slate-400"
      *ngFor="let pokemon of listPokemon"
      [routerLink]="['/pokemon-details', pokemon.name]"
    >
      <ion-label>{{ pokemon.name | titlecase }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>